extends layout

block append vars
  - bodyclass = 'article'

block prepend title
  | #{ page.title + " - "}

block prepend header
  a.home.icon-home.back-to-home(href='/', title=locals.name)

block header
  header.header.container
    small.header-metadata
      span.timestamp= moment(page.date).format('MMMM D, YYYY')
    h1.header-title= page.title

block content
  article.content-article!= page.html
